<div id="blogpost-header">
	<div id="blogpost-title">
		<h1>
			$title
		</h1>

		$summary
	</div>

	<div id="blogpost-menu">
		<span class="blogpost-menu-item">
			<span class="rb">acikek</span> <span style="color: black; font-style: italic;">on $date</span>
		</span>

		<span class="blogpost-menu-item" style="color: var(--gray)">
			—
		</span>

		<span class="blogpost-menu-item">
			<a href="/">Home</a> <span style="color: var(--gray)">•</span>
			<a href="/projects">Projects</a> <span style="color: var(--gray)">•</span>
			<a href="/blog">Blog</a>
		</span>
	</div>
</div>
