<header>
	<div id="blogpost-title">
		<h1>$title</h1>

		$summary
	</div>

	<div id="blogpost-menu">
		<span>
			<span class="rb">$author</span> <span style="color: var(--black); font-style: italic;">on $date</span>
		</span>

		<span id="blogpost-menu-break" style="color: var(--gray)">
			—
		</span>

		<span>
			<a href="/">Home</a> <span style="color: var(--gray)">•</span>
			<a href="/projects">Projects</a> <span style="color: var(--gray)">•</span>
			<a href="/blog">Blog</a>
		</span>
	</div>
</header>
