<div id="header">
	<div id="title">
		<img id="logo" src="/images/logo.svg" alt="acikek's logo" style="height: 3em">
		<img src="/images/title.svg" alt="acikek" style="height: 3em; padding-bottom: 10px;">
	</div>

	<div style="text-align: center;" class="bulleted" x-data="{ 'tab': $tab }">
		<a :style="tab == 0 && { 'font-weight': 700 }" href="/">Home</a> <span style="color: var(--gray)">•</span>
		<a :style="tab == 1 && { 'font-weight': 700 }" href="/projects">Projects</a> <span
			style="color: var(--gray)">•</span>
		<a :style="tab == 2 && { 'font-weight': 700 }" href="/blog">Blog</a>
	</div>
</div>
