@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	/*color-scheme: light dark;*/
	--white: #f2edeb;
	--gray: #babcd9;
	--black: #04030f;
	--red: #8b2635;
	--pink: #ef798a;
	--blue: #1a535c;
}

* {
	font-family: "Merriweather", serif;
	font-style: normal;
	color: var(--black);
}

::selection {
	background-color: var(--black);
	color: var(--white);
}

body {
	margin-top: 1cm;
	margin-left: 3cm;
	margin-right: 3cm;
	padding-bottom: 1cm;
	background-color: var(--white);
}

h1 {
	color: var(--red);
}

h2 {
	font-style: italic;
}

hr {
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
}

a {
	color: var(--red);
}

a:hover {
	color: var(--pink);
}

a i:hover {
	color: var(--red)
}

#header {
	text-align: center;
}

#title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.35em;
}

#logo {
	transition: transform 0.2s ease-in-out;
}

#logo:hover {
	transform: rotate(-20deg);
	cursor: grab;
}

#logo:active {
	transform: scale(90%) rotate(-30deg);
	cursor: grabbing;
}

#title img {
	filter: brightness(0) saturate(100%) invert(18%) sepia(34%) saturate(4030%) hue-rotate(328deg) brightness(93%) contrast(90%);
}

#title img+img {
	margin-left: 1em;
}

#menu {
	color: var(--gray)
}

.update h2 {
	margin: 0
}

.update h2+div {
	margin-top: 0.5em
}

.update div {
	margin-top: 0pt;
	margin-left: 0.5cm;
}

.update p {
	margin: 0pt;
}

.update p+p {
	margin-top: 0.5em;
}

.update+.update {
	margin-top: 0.5cm
}

.rb {
	color: var(--red);
	font-weight: 700;
}