@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	color-scheme: light dark;
	--white: light-dark(#f2edeb, #22202f);
	--off-white: light-dark(#e7deda, #1b1826);
	--gray: light-dark(#babcd9, #2f2a43);
	--black: light-dark(#04030f, #e3d4ce);
	--red: light-dark(#8b2635, #d35f70);
	--pink: light-dark(#ef798a, #f6b6c0);
	--purple: light-dark(#8c429e, #c490d1);
	--blue: #1a535c;
}

* {
	font-family: "Merriweather", serif;
	font-style: normal;
	color: var(--black);
	scrollbar-color: var(--gray) var(--off-white);
}

::selection {
	background-color: var(--black);
	color: var(--white);
}

img::selection {
	background-color: rgb(0, 0, 0, 0);
}

html {
	scrollbar-gutter: stable both-edges;
}

body {
	background-color: var(--white);
	margin-top: 5.5vh;
	margin-left: 7.5vw;
	margin-right: 7.5vw;
	margin-bottom: 5.5vh;
}

hr {
	margin-top: 3vh;
	margin-bottom: 3vh;
	border-color: var(--gray);
	background-color: var(--gray);
	color: var(--gray);
	border-width: 0.5px;
}

a {
	color: var(--red);
}

a:hover {
	color: var(--pink);
}

a i:hover {
	color: var(--red)
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-size: clamp(70%, 4vw, 100%);
	white-space: nowrap;
}

@media (max-width: 600px) {
	footer {
		flex-direction: column;
		justify-content: center;
		row-gap: 0.5em;
		text-align: center;
		white-space: wrap;
	}
}

#main-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.35em;
}

#logo {
	transition: transform 0.2s ease-in-out;
}

#logo:hover {
	transform: rotate(-20deg);
	cursor: grab;
}

#logo:active {
	transform: scale(90%) rotate(-30deg);
	cursor: grabbing;
}

#main-title img+img {
	padding-left: 1em;
}

.bulleted {
	font-size: clamp(0.75rem, 100%, 100%);
}

.bulleted *+.bulleted * {
	margin-left: 1em;
}

.rb,
.author-red {
	color: var(--red);
	font-weight: 700;
}

.author-purple {
	color: var(--purple);
	font-weight: 700;
}

.red-img {
	filter: brightness(0) saturate(100%) invert(18%) sepia(34%) saturate(4030%) hue-rotate(328deg) brightness(93%) contrast(90%);
}

@media (prefers-color-scheme: dark) {
	.red-img {
		filter: brightness(0) saturate(100%) invert(57%) sepia(80%) saturate(2754%) hue-rotate(314deg) brightness(90%) contrast(82%);
	}
}
