#blogpost-title h1 {
	margin-bottom: 0pt;
}

#blogpost-title {
	margin-bottom: 1em;
}

#blogpost-title summary {
	font-size: 90%;
}

.blogpost {
	text-indent: 2em;
	line-height: 2em;
}

.blogpost p {
	margin: 0
}

.blogpost-section+.blogpost-section {
	padding-top: 2em;
}
