#blogpost-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	text-align: center;
}

#blogpost-title h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: clamp(1em, 7.5vw, 2em);
}

#blogpost-title summary {
	font-size: clamp(70%, 3.5vw, 90%);
}

#blogpost-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(70%, 4vw, 100%);
	white-space: nowrap;
}

@media not (max-width: 600px) {
	#blogpost-menu>* {
		margin-left: 1em;
	}
}

@media (max-width: 600px) {
	#blogpost-menu {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		row-gap: 0.25em;
	}

	#blogpost-menu-break {
		display: none;
	}
}

.blogpost-notice {
	display: flex;
	justify-content: center;
	font-style: italic;
	margin-bottom: 1em;
}

.blogpost {
	font-size: clamp(70%, 4vw, 100%);
}

.blogpost p {
	text-indent: 2em;
	line-height: 2em;
	margin: 0;
}

.blogpost ul {
	text-indent: 1.5em;
	line-height: 2em;
	padding-inline-start: 4em;
}

.blogpost li span {
	position: relative;
	left: -1em;
}

.blogpost-section+.blogpost-section {
	padding-top: 2em;
}

.blogpost-media {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.blogpost-media img {
	max-width: 50vw;
	height: auto;
}

.blogpost-media summary {
	font-style: italic;
}

.blogpost-media img+summary {
	padding-top: 1em;
}

.inline-img {
	height: 1em;
	vertical-align: middle;
}

.signature {
	height: 1em;
	vertical-align: baseline;
}
