.blog-entry {
	display: flex;
}

.blog-entry-thumbnail {
	width: 75px;
	height: 58.4px;
	background-color: var(--off-white);
	border-radius: 5pt;
}

.blog-entry-thumbnail img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: co;
}

.blog-entry-thumbnail+* {
	padding-left: 1em;
}

.blog-entry h2 {
	margin: 0pt
}

.blog-entry h2+* {
	padding-top: 0.5em;
}

.blog-entry+.blog-entry {
	padding-top: 0.5cm;
}
