.update h2 {
	font-style: italic;
	margin: 0
}

.update h2+div {
	padding-top: 0.5em
}

.update div {
	margin-top: 0pt;
	margin-left: 0.5cm;
}

.update p {
	margin: 0pt;
	line-height: 1.5em;
}

.update p+p {
	padding-top: 0.5em;
}

.update+.update {
	padding-top: 0.5cm
}
