.update h2 {
	margin: 0
}

.update h2+div {
	margin-top: 0.5em
}

.update div {
	margin-top: 0pt;
	margin-left: 0.5cm;
}

.update p {
	margin: 0pt;
}

.update p+p {
	margin-top: 0.5em;
}

.update+.update {
	margin-top: 0.5cm
}
