.projects {
	display: grid;
	gap: 15pt;
}

@media (width < 600px) {
	.projects {
		grid-template-columns: 1fr;
	}

	.project-info h2 {
		font-size: clamp(0.5em, 5vw, 1.5em);
	}
}

@media (width < 1200px) and (width >=600px) {
	.projects {
		grid-template-columns: 1fr 1fr;
	}

	.project-info h2 {
		font-size: clamp(0.5em, 3vw, 1.5em);
	}

	.project-info summary {
		font-size: clamp(70%, 2vw, 90%);
	}
}

@media (width >=1200px) {
	.projects {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.project-info summary {
		font-size: clamp(70%, 3.5vw, 90%);
	}
}

.project {
	display: flex;
	flex-direction: column;
	aspect-ratio: 16 / 9;
	background-color: var(--off-white);
	border-radius: 10pt;
	overflow: hidden;
	text-decoration: none;
}

.project-thumbnail {
	flex: 1;
	display: flex;
	overflow: hidden;
}

.project-thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-info {
	padding: 10pt;
}

.project-info h2 {
	margin-top: 0pt;
	margin-bottom: 0.2em;
	color: var(--red);
	text-decoration: underline;
}

.project:hover h2 {
	color: var(--pink)
}
